* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 .125rem .75rem rgba(0, 0, 0, .075);
}

nav .logo a {
  text-decoration: none;
  color: #000;
}

nav .menu ul {
  display: flex;
  align-items: baseline;
  list-style: none;
  margin-left: 2rem;
}

nav .menu ul li {
  margin: 0 1.25rem;
}

nav .menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

main {
  padding: 1.5rem 3rem;
}

.news-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.25rem 0;
}

.card {
  margin: 1.25rem auto;
  width: 300px;
  box-shadow: 0 .125rem .75rem rgba(0, 0, 0, .075);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .075);

}

.card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card .card-body {
  padding: 0.5rem;

}

.card .card-body p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

.card .card-body a {
  color: royalblue;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

/* Responsive */
@media(max-width:957px) {}